#bannertime_control .banneron-wrap {
	display:flex;
	flex-direction:column;
}
#bannertime_control .select2 {
	margin-top:10px;
	max-width:100%;
}
#bannertime_control label svg {
	position:relative;
	width:25px;
	fill:#555;
	bottom:-5px;
	padding-right:7px;
}